# Compiled Lua sources
luac.out

# Nvim related files
.netrwhist
*~

# Temp files
*.swp
*.swo

# Test files
*.test.lua

# OS specific files
.DS_Store
Thumbs.db

# Compiled files
*.o
*.so
*.dll

# Dependencies
/vendor/
/node_modules/